<ul>
    {% assign nav = nav %}
    {% for entry in nav %}
        {% unless entry.sub %}
            <a href="{{ entry.path }}">
        {% endunless %}
            <li>
                {{ entry.name }}{% if entry.sub %}/{% endif %}
                <span class="emoji">{{ entry.icon }}</span>
            </li>
        {% unless entry.sub %}
            </a>
        {% endunless %}

        {% if entry.sub %}
            <ul>
                {% for subentry in entry.sub %}
                    <a href="{{ entry.path }}/{{ subentry.path }}">
                        <li>
                            <span class="nav-path">{{ entry.path }}/</span>{{ subentry.name }}
                            <span class="emoji">{{ subentry.icon }}</span>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</ul>